@page "/fetchchampions"

@using My2Blazor.Data
@inject ChampionService championService

<h1>Inspect League Champions</h1>

<p>Get Champion statistics and compare!</p>


<input @bind=CurrentValue/>


<p>Advice: @advice</p>


<button class="btn btn-primary" @onclick=GetValuet>Add</button>
  
@if (champions == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>               
                <th>Champion Name</th>
                <th>Attack Speed</th>
                <th>Attack Range</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var champion in champions)
            {
                <tr>
                    <td>@champion.Name</td>
                    <td>@champion.AttackSpeed</td>
                    <td>@champion.AttackRange</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public int NoChampions = 0;
    public ChampionInfo[] champions;
    public string CurrentValue { get; set; }
    ChampionService cService = new ChampionService();
    public string NewValue;
    public bool errorMessage;
    public string advice = "Try adding a champion!";
    private async Task GetValuet()

    {

        errorMessage = false;
        NoChampions++;

        NewValue = CurrentValue;       
        cService.NoChampionsSoFar = NoChampions;
        cService.newChamp = NewValue;
        cService.ProcessInput();
        errorMessage = cService.ErrorMessage;


        if(errorMessage)
        {
            NoChampions--;
            cService.NoChampionsSoFar = NoChampions;
            advice = "You must input a valid champion name. The search is case sensitive, make sure to include the correct punctuation and spaces.";
        }
        else
        {
            advice = "Try adding another!";
            champions = await cService.GetChampionInfo();
        }
        

        

 
    }

}
