@page "/fetchfriends"

@using MyFirstBlazorApp.Data
@inject FriendInfoService friendInfoService

<h1>Friends</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (friends == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in friends)
            {
                <tr>
                    <td>@friend.Id</td>
                    <td>@friend.FirstName</td>
                    <td>@friend.LastName</td>
                    <td>@friend.Location</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private FriendInfo[] friends;

    protected override async Task OnInitializedAsync()
    {
        FriendInfoService fService = new FriendInfoService();
        friends = await fService.GetFriendInfo();
    }
}
